/.lake
/.gemini/
/.gemini_history
lake-manifest.json
lean_packages/
/.vscode/
*.code-workspace
.DS_Store
Thumbs.db
Notes-TODO/
old/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.run.xml